.accordion {

  background-color: @white;
  .boxshadow();

  & &-item {
    
    position: relative;
    padding: @spaced;
    border-bottom: 1px solid #eee;

    @media @min {
      padding: 15px;
      padding-left: 50px;
      //padding-right: 50px;
    }

    @media @tablet {
      padding: @spaced;
      padding-left: 100px;
      //padding-right: 150px;
    }

    @media @desktop {
      padding-left: 100px;
      //padding-right: 150px;
    }

    small {
      color: @teal;
      display: block;
    }

    &-number {
      @size: 50px;
      
      border-radius: 50%;
      background-color: @teal;
      color: @white;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      
      @media @min {
        margin-left: 15px;
        .font_size(14);
        transform: translateY(15px);
        height: @size * .5;
        width: @size * .5;
        line-height: @size * .5;
      }
      @media @tablet {
        margin-left: @spaced;
        .font_size(24);
        transform: translateY(17px);
        height: @size;
        width: @size;
        line-height: @size;
      }
    }

    &-title {
      color: @gray;
      position: relative;
      @media @min {
        .font_size(15);
      }
      @media @tablet {
        .font_size(20);
      }
      @media @desktop {
        .font_size(22);
      }
      &:hover {
        cursor: pointer;
        color: @purple;
      }
      span {
        color: @purple;
      }
      a {
        color: @teal;
        text-decoration: none;
        border-bottom: 1px solid;
        &:before, &:after {
          position: relative;
          top: .125em;
          .font_size(18);
          margin-left: 8px
        }
      }
      &:before, &:after {
        position: absolute;
        right: 0;
        top: .25em;
      }
    }
    
    &-content {
      display: none;
      padding: @spaced 0;
      line-height: 1.7;
      color: @gray;
      @media @min {
        .font_size(15);
      }
      @media @tablet {
        .font_size(16);
      }
      @media @desktop {
        .font_size(16);
      }
      a {
        color: @purple;
        text-decoration: none;
        &:before, &:after {
          position: relative;
          top: .225em;
          margin-left: 5px;
        }
      }
    }

    ul {
      margin: 20px 0 0;
      @media @desktop {
        max-width: 75%;  
      }
      li {
        margin-bottom: 20px;
        position: relative;
        padding-left: @spaced;
        color: @gray;
        &:before {
          content: '';
          display: block;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: @teal;
          position: absolute;
          left: 0;
          top: 9px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.fs-swap-active {
      .accordion-item-content {
        display: block;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    &:after {
      position: absolute;
      color: @purple;
      @media @min {
        top: 30px;
        right: 15px;
        .font_size(18);
        margin-top: -13px;
      }
      @media @tablet {
        top: 45px;
        right: @spaced;
        .font_size(20);
        margin-top: -13px;
      }
    }

  }

}