.calc {
  &-item {
    border-bottom: 1px solid @lighterGray;
    padding: @spaced 0;
    &-title {
      color: @purple;
      font-weight: bold;
      .font_size(20);
    }
    &-variable {
      color: @gray;
      .font_size(20);
    }
    &-desc {
      .font_size(14);
      color: @gray;
    }
  }
}