.calc {
  &-form {
    padding: 2px;
    select {
      .font_size(13);
      margin-bottom: 0;
      @media @min {
        margin: 10px 0;
      }
      @media @tablet {
        margin: 10px 0;
      }
      @media @desktop {
        margin: 0
      }
    }
  }
  &-item {
    border-bottom: 1px solid @lighterGray;
    @media @min {
      padding: @spaced*.5 0;
      text-align: center;
      br {
        display: none;
      }
    }
    @media @tablet {
      text-align: left;
      padding: @spaced 0;
    }
    @media @desktop {
      padding: @spaced 0;
      br {
        display: block;
      }
    }
    &-title {
      color: @purple;
      font-weight: bold;
      .font_size(20);
    }
    &-variable {
      color: @gray;
      .font_size(20);
    }
    &-desc {
      .font_size(14);
      color: @gray;
    }
  }
}