.glossary {

  & &-item {

    border-bottom: 1px solid @lighterGray;
    margin-bottom: @spaced;
    padding-bottom: @spaced;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 0;
    }

    h4 {
      color: @purple;
      font-weight: bold;
      .font_size(18);
    }

  }

}