.home {

  @media @min {
    padding-top: 50px;
  }
  @media @tablet {
    padding-top: 100px;
  }

  & &-item {

    position: relative;

    @media @min {
      padding: 40px 0;
    }
    @media @tablet {
      padding: 80px 0;
    }
    
    background-color: @white;
    transition: 300ms ease;
    position: relative;
    z-index: 9;
    box-shadow: inset 0 0 0 2px transparent, 0 10px transparent;

    &:hover {
      background-color: @white;
      position: relative;
      z-index: 9;
      box-shadow: inset 0 0 0 2px @teal, 0 10px @spaced rgba(0,0,0,.05);
    }

    &--purple {
      background-color: @purple;
      margin-top: @spaced;
      margin-bottom: @spaced;
      padding: 0;
      position: relative;
      &:hover {
        box-shadow: 0 10px @spaced rgba(0,0,0,.05);
        background-color: darken(@purple, 10%);
      }
      h3 {
        color: @white;
        margin-top: 0;
        margin-bottom: 8px;
      }
      div {
        color: @white50;
      }
    }

    &__link {
      .cover();
      z-index: 88;
    }

    &__icon {
    }

    &__title {
      color: @purple;
      font-weight: bold;
      .font_size(32);
      line-height: 1;
      margin: @spaced*.75 0;
    }
    
    &__desc {
      .font_size(19);
      color: @gray;
    }

  }

}