.page {

  padding-top: 50px;
  padding-bottom: 50px;

  &-sidebar {
    &-title {
      color: @purple;
      font-weight: bold;
      margin-bottom: @spaced*.75;
      .obscured {
        background-color: @lightGray;
        color: @lightGray;
        padding: 1px 5px;
        pointer-events: none;
      }
    }
  }

  &-content {
    .boxshadow();
    background-color: @white;
    .font_size(17);
    @media @min {
      padding: @spaced;  
    }
    @media @desktop {
      padding: 50px;  
    }
    p {
      color: @textGray;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-section {

    &-title {
      font-weight: bold;
      text-align: center;
      color: @purple;
      @media @min {
        .font_size(24);
      }
      @media @tablet {
        .font_size(32);
      }
      margin: @spaced*2 0 @spaced;
      &.top {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    &-desc {
      color: @gray;
      line-height: 1.7; 
      text-align: center;
    }

    &-subtitle {
      color: @gray;
      line-height: 1;
      text-align: center;
      @media @min {
        .font_size(20);
        margin-bottom: @spaced*2;
      }
      @media @tablet {
        .font_size(24);
        margin-bottom: @spaced*2;
      }
      a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid @lightGray;
      }
    }

    &-wrapper {
      > .fs-row {
        .boxshadow();
      }
    }

    &-cell {

      background-color: @white;
      text-align: center;
      .font_size(20);
      color: #888;

      @media @min {
        padding: @spaced*1.25;
        border-bottom: 1px solid @lighterGray;
      }

      @media @tablet {
        padding: @spaced*2;
        border-right: 1px solid @lighterGray;
        border-bottom: 1px solid @lighterGray;
      }

      .icon {
        background-color: #DFF5EE;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        position: relative;
        margin: auto;
        margin-bottom: 10px;

        img {
          .center();
        }
      }

    }

  }

  &-header {

    position: relative;

    &-wrapper {
      background-color: @purple;
      @media @min {
        padding: @spaced;  
      }
      @media @tablet {
        padding: @spaced*2;  
      }
      @media @desktop {
        padding: @spaced*2;  
      }
      
      & .page {
        &-header {
          &-title {
            color: @white;
          }
          &-subtitle {
            color: @white;
          }
          &-desc {
            color: @white50;
          }
        }
      }
    }

    &-img {
      border-radius: 50%;
      display: block;
      @media @min {
        height: 80px;
        //width: auto;   
      }
      @media @tablet {
        //float: left;
        height: 140px;
        margin: auto;
        margin-bottom: @spaced;
      }
    }

    &-title {
      color: @purple;
      font-weight: bold;
      margin: 0;
      @media @min {
        .font_size(28);
        line-height: 1.3;
        br {
          display: none;
        }
      }
      @media @tablet {
        .font_size(60);
        letter-spacing: -1px;
        line-height: 1;
        br {
          display: block;
        }
      }
      &.top {
        margin-bottom: @spaced*.75;  
      }
    }
    &-subtitle {
      color: @gray;
      line-height: 1.4;
      display: inline-block;
      @media @min {
        .font_size(20);
        margin-bottom: 10px;
      }
      @media @tablet {
        .font_size(24);
        margin-bottom: @spaced;
      }
      &.bottom {
        margin-bottom: 0;
      }
    }
    &-desc {
      padding-top: 10px;
    }

    &.simple {

      @media @min {
        padding-top: 50px;
      }
      @media @tablet {
        padding-top: 75px;
      }

    }

  }

  &-nav {
    @media @min {
      margin-top: @spaced;
      padding: 10px 0 5px;
      border-top: 1px solid @lighterGray;
      border-bottom: 1px solid @lighterGray;
    }
    @media @tablet {
      margin-top: 0;
      border: none;
      padding-bottom: 0;
      border-bottom: 1px solid @lighterGray;
    }
    &-menu {
      &-item {
        color: @gray;
        display: inline-block;
        @media @min {
          margin: 0 8px 0;  
        }
        @media @tablet {
          margin: 0 10px;  
          margin-bottom: -1px;
        }
        a {
          color: @purple;
          text-decoration: none;
          padding-bottom: 5px;
          transition: 400ms ease;
          display: inline-block;
          height: 60px;
          line-height: 60px;
          &.fs-tabs-enabled {
            border-bottom: 3px solid transparent; 
            &:hover {
              border-bottom: 3px solid @teal;   
            }
          }
          &.fs-tabs-active {
            border-bottom: 3px solid @teal; 
          }
        }
      }
    }
  }

  &-sub-head {
    &-title, &-desc {
      background-color: @teal;
      color: @white;
      @media @min {
        padding: @spaced 15px;  
        text-align: center;
      }
      @media @tablet {
        padding: @spaced;  
        text-align: left;
      }
      @media @desktop {
        padding: @spaced*2;  
      }
    }
    &-title {
      font-weight: bold;
      line-height: 1.3;
      background-color: darken(@teal, 4%);
      @media @min {
        .font_size(26);
        br {
          display: none;
        }
      }
      @media @tablet {
        br {
          display: block;
        }
      }
      @media @desktop {
        .font_size(32);
      }
    }
    &-desc {
      @media @min {
        .font_size(16);
      }
      @media @desktop {
        .font_size(18);
      }
    }
  }

}

.password {
  &-wrapper {
    .cover();
    z-index: 999;
    position: fixed;
    background-color: @black50;
  }
  &-container {
    .center();
    width: 100%;
  }
}