body,html {
  //.font_size(17);
  background-color: #FBFBFB;
  font-family: 'Biotif', sans-serif;
  -webkit-font-smoothing: antialiased;

  &.fs-swap-active {
    height: 100%;
    overflow: hidden;
  }
}