body,html {
  //.font_size(17);
  background-color: @bgGray;
  font-family: 'Biotif', sans-serif;
  -webkit-font-smoothing: antialiased;

  &.fs-swap-active {
    height: 100%;
    overflow: hidden;
  }
}

#credible {
  &-div {
    width: 600px;
  }
}

.blank {
  height: 15px;
  background-color: #ddd;
  margin-bottom: 10px;

  &-sm {
    width: 66%;
  }

  &-md {
    width: 75%;
  }

  &-lg {
    width: 85%;
  }

  &-space {
    height: @spaced;
  }

  &-bigger {
    height: 20px;
    margin-bottom: 10px;
  }

}

.hero {
  height: 400px;
}